body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;

}

header{

    grid-area: encabezado;
    background:rgb(66, 66, 232) ;
    height: 80px;
}
nav {
    
    grid-area: menu;
    background:rgb(216, 216, 216);
    color: white;
 
}


main {

    grid-area: seccion-principal;

}

footer {
   
    grid-area: pie-de-pagina;
    background: rgb(19, 5, 82);
    color: white;
}


.flex_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}


.discos{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: px solid black;
    gap: 15px;
    
}

  .flex-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div {
    display: grid;
    grid-template-rows: auto 1fr 27fr auto;
    grid-template-areas:
    "encabezado"
    "menu"
    "seccion-principal"
    "pie-de-pagina";
 
}

/* vista Mobile oculta el main*/
  @media (max-width: 576px) {

    body {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        border: none;
        outline: none;

    }

    header{
        height: 50px;

    }

    nav {
    
        grid-area: menu;
        background:rgb(216, 216, 216);
        color: white;

    }
    
    main{
        display: flex;
        flex-direction: column;
        height: 60px;
    }

    .titulo_seccion{
        height: 30px;
        padding: 10px;
    }


 
    .discos{
        display: flex;
        flex-direction: column;
    }
}


/* vista PC*/
  @media (min-width: 576px) {
    div {
        grid-template-areas:
            "encabezado encabezado "
            "menu seccion-principal"
            "pie-de-pagina pie-de-pagina";
        grid-template-columns: 2fr 9fr;
        grid-template-rows: auto 1fr auto;
}

}